<footer id="footer">
    <div class="sc-hKgILt exnuit bqrZSh">
      <div class="hjRtjW">
        <div class="dwlqFI">
          <div class="guMdLP">
            <div class="lfVzVQ">
              <span color="base" class="sc-dlfnbm haHbTN">Get the latest Twinci updates,<br class="cqIUot" />highlights
                and team activities</span>
              <div class="bJiohi">
                <input type="text" name="subscribe" id="subscribe" placeholder="Your e-mail" class="sc-fubCfw enBlaO dDLhtR"
                  value="" />
                <div class="gDYkWk">
                  <button onclick="subscribe()" class="sc-eCssSg sc-jSgupP sc-pFZIQ gqHjnk bejKGh gIPckd">
                    <span color="base" class="sc-dlfnbm fRceZZ">I’m in</span>
                  </button>
                </div>
                <div class="jAJhAn"></div>
              </div>
            </div>
          </div>
          <div class="cBTBtA">
            <span color="base" class="sc-dlfnbm haHbTN">Twinci</span>
            <ul class="bisZsb">
              <li class="gXoNBT">
                <a href="https://app.twinci.io/" class="sc-bdfBwQ sc-dQppl epvkSs dA-dJEs"><span class="sc-dlfnbm iogTEB">Marketplace</span></a>
              </li>
              <li class="gXoNBT">
                <a href="/#connect" class="bZwCgY"><span class="sc-dlfnbm iogTEB">How it works</span></a>
              </li>
              <li class="gXoNBT">
                <a href="/faq" class="sc-bdfBwQ sc-dQppl epvkSs dA-dJEs"><span
                    class="sc-dlfnbm iogTEB">FAQ</span></a>
              </li>
              <li class="gXoNBT">
                <a target="_blank" href="https://t.me/twinci_chat" class="sc-bdfBwQ sc-dQppl epvkSs dA-dJEs"><span class="sc-dlfnbm iogTEB">Support</span></a>
              </li>
            </ul>
          </div>
          <div class="jKMzYI">
            <span color="base" class="sc-dlfnbm haHbTN">Community</span>
            <ul class="bisZsb">
              <li class="gXoNBT">
                <a target="_blank" href="/Twinci-Whitepaper.pdf" class="sc-bdfBwQ sc-dQppl epvkSs dA-dJEs"><span class="sc-dlfnbm iogTEB">TWIN token</span></a>
              </li>
              <li class="gXoNBT">
                <a target="_blank" href="/Tokenomics.pdf" class="sc-bdfBwQ sc-dQppl epvkSs dA-dJEs"><span
                    class="sc-dlfnbm iogTEB">Tokenomics</span></a>
              </li>
              <li class="gXoNBT">
                <a target="_blank" href="https://t.me/twinci_chat" class="sc-bdfBwQ sc-dQppl epvkSs dA-dJEs"><span
                    class="sc-dlfnbm iogTEB">Discussion</span></a>
              </li>
              <li class="gXoNBT">
                <a target="_blank" href="https://t.me/twinci_chat" class="sc-bdfBwQ sc-dQppl epvkSs dA-dJEs"><span
                    class="sc-dlfnbm iogTEB">Voting</span></a>
              </li>
              <li class="gXoNBT">
                <a href="mail:contact@twinci.io" class="sc-bdfBwQ sc-dQppl epvkSs dA-dJEs"><span class="sc-dlfnbm iogTEB">Suggest
                    features</span></a>
              </li>
            </ul>
          </div>
          <div class="GLydC">
            <span color="base" class="sc-dlfnbm haHbTN">Follow us</span>
            <ul class="iVDKTw">
              <li class="dfDVRO">
                <a href="https://www.facebook.com/twinciio/" opacity="0.6"
                  class="sc-bdfBwQ sc-dQppl sc-bqyKva fSxzwk dA-dJEs ehfErK"><svg version="1.1" id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="24" height="24" fill="#ffffff" viewBox="0 0 60.734 60.733"
                    style="enable-background:new 0 0 60.734 60.733;" xml:space="preserve">
                    <g>
                      <path
                        d="M57.378,0.001H3.352C1.502,0.001,0,1.5,0,3.353v54.026c0,1.853,1.502,3.354,3.352,3.354h29.086V37.214h-7.914v-9.167h7.914
                   v-6.76c0-7.843,4.789-12.116,11.787-12.116c3.355,0,6.232,0.251,7.071,0.36v8.198l-4.854,0.002c-3.805,0-4.539,1.809-4.539,4.462
                   v5.851h9.078l-1.187,9.166h-7.892v23.52h15.475c1.852,0,3.355-1.503,3.355-3.351V3.351C60.731,1.5,59.23,0.001,57.378,0.001z" />
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                  </svg></a>
              </li>
              <li class="dfDVRO">
                <a href="https://twitter.com/twinciio" opacity="0.6"
                  class="sc-bdfBwQ sc-dQppl sc-bqyKva fSxzwk dA-dJEs ehfErK"><svg width="24" height="24"
                    viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                      <path
                        d="M17.9655 3.42682C17.3018 3.71857 16.593 3.91732 15.8468 4.00807C16.6073 3.54982 17.1922 2.82757 17.469 1.96582C16.7558 2.38207 15.9653 2.68507 15.1238 2.85382C14.4518 2.13457 13.494 1.68457 12.4305 1.68457C10.3927 1.68457 8.7405 3.33682 8.7405 5.37232C8.7405 5.66482 8.77425 5.94607 8.83575 6.21532C5.76825 6.07057 3.0495 4.59757 1.23 2.37082C0.90975 2.91232 0.7305 3.54157 0.7305 4.22707C0.7305 5.50957 1.383 6.63682 2.3715 7.29907C1.76625 7.27957 1.197 7.11307 0.7005 6.83707V6.88282C0.7005 8.67157 1.97025 10.1633 3.66 10.5031C3.35025 10.5863 3.02325 10.6313 2.688 10.6313C2.4525 10.6313 2.22675 10.6088 2.001 10.5668C2.47425 12.0316 3.83475 13.0996 5.454 13.1296C4.194 14.1188 2.59725 14.7083 0.8775 14.7083C0.585 14.7083 0.29325 14.6911 0 14.6581C1.64175 15.7036 3.576 16.3148 5.66775 16.3148C12.4583 16.3148 16.167 10.6928 16.167 5.82532C16.167 5.66857 16.167 5.51032 16.1558 5.35282C16.8765 4.83607 17.5057 4.18282 18.0007 3.44182L17.9655 3.42682Z"
                        fill="white" fill-opacity="1"></path>
                    </g>
                    <defs>
                      <clippath id="clip0">
                        <rect width="18" height="18" fill="white"></rect>
                      </clippath>
                    </defs>
                  </svg></a>
              </li>
              <li class="dfDVRO">
                <a href="https://t.me/twinci_ann" opacity="0.6"
                  class="sc-bdfBwQ sc-dQppl sc-bqyKva fSxzwk dA-dJEs ehfErK"><svg width="24" height="24"
                    viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M16.9513 3.29916L14.5438 15.1556C14.377 15.997 13.8902 16.1987 13.21 15.8093L9.542 12.979L7.76804 14.7662C7.56797 14.9748 7.40125 15.1556 7.03445 15.1556C6.55428 15.1556 6.63431 14.9679 6.47425 14.495L5.20714 10.1905L1.57252 9.00834C0.785579 8.76495 0.77891 8.20168 1.74592 7.7914L15.9243 2.08918C16.5711 1.79016 17.1914 2.25607 16.9446 3.29221L16.9513 3.29916Z"
                      fill="white" fill-opacity="1"></path>
                  </svg></a>
              </li>
              <li class="dfDVRO">
                <a href="https://www.instagram.com/twinci.io/" opacity="0.6"
                  class="sc-bdfBwQ sc-dQppl sc-bqyKva fSxzwk dA-dJEs ehfErK"><svg width="24" height="24"
                    viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M9 2C7.09833 2 6.86092 2.00875 6.11425 2.042C5.36875 2.077 4.86125 2.19425 4.415 2.3675C3.95475 2.546 3.56392 2.78575 3.17483 3.17483C2.78575 3.56392 2.54542 3.95417 2.3675 4.415C2.19425 4.86125 2.07642 5.36875 2.042 6.11425C2.007 6.86092 2 7.09833 2 9C2 10.9017 2.00875 11.1391 2.042 11.8857C2.077 12.6307 2.19425 13.1388 2.3675 13.585C2.546 14.0447 2.78575 14.4361 3.17483 14.8252C3.56392 15.2137 3.95417 15.4546 4.415 15.6325C4.86183 15.8052 5.36933 15.9236 6.11425 15.958C6.86092 15.993 7.09833 16 9 16C10.9017 16 11.1391 15.9912 11.8857 15.958C12.6307 15.923 13.1388 15.8052 13.585 15.6325C14.0447 15.454 14.4361 15.2137 14.8252 14.8252C15.2137 14.4361 15.4546 14.0464 15.6325 13.585C15.8052 13.1388 15.9236 12.6307 15.958 11.8857C15.993 11.1391 16 10.9017 16 9C16 7.09833 15.9912 6.86092 15.958 6.11425C15.923 5.36933 15.8052 4.86067 15.6325 4.415C15.454 3.95475 15.2137 3.56392 14.8252 3.17483C14.4361 2.78575 14.0464 2.54542 13.585 2.3675C13.1388 2.19425 12.6307 2.07642 11.8857 2.042C11.1391 2.007 10.9017 2 9 2ZM12.7369 6.10372C13.2 6.10372 13.5769 5.72747 13.5769 5.26372C13.5769 4.80055 13.1994 4.42372 12.7369 4.4243C12.2737 4.4243 11.8969 4.80055 11.8969 5.26372C11.8969 5.72689 12.2731 6.10372 12.7369 6.10372ZM5.40552 8.99997C5.40552 7.01547 7.01377 5.40547 9.00002 5.40547C10.9845 5.40547 12.5945 7.01372 12.5945 8.99997C12.5945 10.9845 10.9863 12.5945 9.00002 12.5945C7.01552 12.5945 5.40552 10.9862 5.40552 8.99997ZM9.00002 11.3334C7.71086 11.3334 6.66669 10.2892 6.66669 9.00004C6.66669 7.71087 7.71086 6.6667 9.00002 6.6667C10.2892 6.6667 11.3334 7.71087 11.3334 9.00004C11.3334 10.2892 10.2892 11.3334 9.00002 11.3334Z"
                      fill="white" fill-opacity="1"></path>
                  </svg></a>
              </li>
              <li class="dfDVRO">
                <a href="https://discord.gg/QmZrtr6VYc" opacity="0.6"
                  class="sc-bdfBwQ sc-dQppl sc-bqyKva fSxzwk dA-dJEs ehfErK"><svg width="24" height="24"
                    viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M11.5507 3.00365H11.5624L11.5612 3L11.5507 3.00365ZM11.5108 3.01763L11.5507 3.00365H11.5252L11.5108 3.01763ZM11.5039 3.02433L11.5108 3.01763L11.4917 3.02431L11.5039 3.02433ZM11.5039 3.02433L11.2748 3.24672C13.8446 3.97594 15.088 5.11473 15.088 5.11473C13.4318 4.30287 11.9393 3.89694 10.4467 3.73286C9.36818 3.56879 8.28967 3.65508 7.37851 3.73286H7.13058C6.54793 3.73286 5.30826 3.97594 3.64711 4.62616C3.06818 4.87287 2.73595 5.03452 2.73595 5.03452C2.73595 5.03452 3.9781 3.81672 6.71529 3.1665L6.54793 3.00243C6.54793 3.00243 4.47521 2.92465 2.2376 4.54594C2.2376 4.54594 0 8.36704 0 13.0778C0 13.0778 1.23967 15.1925 4.64008 15.2727C4.64008 15.2727 5.13595 14.6249 5.63802 14.0549C3.72893 13.4861 2.98512 12.3486 2.98512 12.3486C2.98512 12.3486 3.15124 12.4288 3.40041 12.5916H3.47479C3.50979 12.5916 3.52722 12.6078 3.54568 12.6249C3.54684 12.6259 3.548 12.627 3.54917 12.6281V12.6354C3.56901 12.6548 3.58636 12.6719 3.62355 12.6719C3.6596 12.6864 3.69564 12.701 3.73164 12.7155C4.10416 12.8658 4.47123 13.0139 4.77645 13.158C5.35413 13.4035 6.09669 13.6478 7.00785 13.8094C8.16074 13.9735 9.48223 14.0525 10.9872 13.8094L11.0353 13.7988L11.0353 13.7988C11.7631 13.6384 12.4908 13.4779 13.2186 13.1592C13.3516 13.0923 13.4931 13.0255 13.6419 12.9551C14.0339 12.7698 14.4769 12.5604 14.9504 12.2635C14.9504 12.2635 14.2066 13.4011 12.2169 13.9699C12.626 14.5362 13.2025 15.1852 13.2025 15.1852C15.9898 15.1255 17.3804 13.6948 17.8328 13.2295C17.9325 13.1269 17.9866 13.0713 18 13.0875C18 8.38405 15.75 4.55566 15.75 4.55566C13.7464 3.09718 11.8701 3.02578 11.5039 3.02433ZM6.13886 8.36701C7.00663 8.36701 7.70828 9.09623 7.70828 9.98952C7.70828 10.8889 7.00167 11.6181 6.1339 11.6181C5.26613 11.6181 4.55952 10.8889 4.55952 9.99682C4.55952 9.09745 5.26613 8.37066 6.1339 8.37066L6.13886 8.36701ZM11.7707 8.36701C12.6422 8.36701 13.3451 9.09623 13.3451 9.98952C13.3451 10.8889 12.6384 11.6181 11.7707 11.6181C10.9029 11.6181 10.1963 10.8889 10.1963 9.99682C10.1988 9.09745 10.9066 8.37066 11.7707 8.37066V8.36701Z"
                      fill="white" fill-opacity="1"></path>
                  </svg></a>
              </li>
              <li class="dfDVRO">
                <a href="https://www.youtube.com/c/Twinci" opacity="0.6"
                  class="sc-bdfBwQ sc-dQppl sc-bqyKva fSxzwk dA-dJEs ehfErK"><svg width="24" height="24"
                    viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M17.6242 4.85293C17.5199 4.49635 17.3209 4.17147 17.0465 3.90969C16.772 3.64791 16.4314 3.45809 16.0576 3.35857C14.6546 3.00001 9.00801 3.00001 9.00801 3.00001C9.00801 3.00001 3.37567 2.99285 1.95839 3.35857C1.58457 3.45809 1.24399 3.64791 0.969559 3.90969C0.69513 4.17147 0.496134 4.49635 0.391808 4.85293C0.125849 6.22313 -0.00526955 7.61404 0.000162055 9.00752C-0.00424273 10.3957 0.126872 11.7813 0.391808 13.1464C0.496134 13.5029 0.69513 13.8278 0.969559 14.0896C1.24399 14.3514 1.58457 14.5412 1.95839 14.6407C3.35991 15 9.00801 15 9.00801 15C9.00801 15 14.6396 15 16.0576 14.6407C16.4314 14.5412 16.772 14.3514 17.0465 14.0896C17.3209 13.8278 17.5199 13.5029 17.6242 13.1464C17.8836 11.7808 18.0092 10.3952 17.9994 9.00752C18.0102 7.61454 17.8846 6.22363 17.6242 4.85293ZM7.20584 11.5776V6.4296L11.9056 9.00752L7.20584 11.5776Z"
                      fill="white" fill-opacity="1"></path>
                  </svg></a>
              </li>
              <li class="dfDVRO">
                <a href="https://twinci.medium.com/" opacity="0.6"
                  class="sc-bdfBwQ sc-dQppl sc-bqyKva fSxzwk dA-dJEs ehfErK"><svg width="24" height="24"
                    viewBox="0 0 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid">
                    <g>
                      <path
                        d="M61.0908952,85.6165814 C61.3045665,83.5054371 60.4994954,81.4188058 58.9230865,79.9979257 L42.8652446,60.6536969 L42.8652446,57.7641026 L92.7248438,57.7641026 L131.263664,142.284737 L165.145712,57.7641026 L212.676923,57.7641026 L212.676923,60.6536969 L198.947468,73.8174045 C197.763839,74.719636 197.176698,76.2025173 197.421974,77.670197 L197.421974,174.391342 C197.176698,175.859021 197.763839,177.341902 198.947468,178.244134 L212.355766,191.407842 L212.355766,194.297436 L144.91283,194.297436 L144.91283,191.407842 L158.802864,177.923068 C160.16778,176.558537 160.16778,176.157205 160.16778,174.070276 L160.16778,95.8906948 L121.54867,193.97637 L116.329871,193.97637 L71.3679139,95.8906948 L71.3679139,161.628966 C70.9930375,164.392788 71.9109513,167.175352 73.8568795,169.174019 L91.9219516,191.086776 L91.9219516,193.97637 L40.6974359,193.97637 L40.6974359,191.086776 L58.7625081,169.174019 C60.6942682,167.172038 61.5586577,164.371016 61.0908952,161.628966 L61.0908952,85.6165814 Z"
                        fill="#FFFFFF"></path>
                    </g>
                  </svg></a>
              </li>
              <li class="dfDVRO">
                <a href="https://github.com/twinciio" opacity="0.6"
                class="sc-bdfBwQ sc-dQppl sc-bqyKva fSxzwk dA-dJEs ehfErK">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" style="padding-top: 4px;">
                  <path fill="#ffffff" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"/>
              </svg></a>
            </li>
            </ul>
            <ul class="iVDKTw" style="display: block; margin-top: 30px;">
              <li class="cmail">
                <div style="font-weight: bold;"><span class="sc-dlfnbm iogTEB">Contact us: </span></div>
              </li>
              <li class="cmail">
                <a opacity="0.6"
                  class="sc-bdfBwQ sc-dQppl sc-bqyKva fSxzwk dA-dJEs ehfErK" style="color: rgb(197, 197, 197);">contact@twinci.io</a>
              </li>
            </ul>
          </div>
        </div>
        <div style="width: 100%; height: 1px; background-color: rgb(61, 61, 61); margin-bottom: 20px;"></div>
        <div class="sc-crrsfI kYdMKV lgAyBk">
          <div order="2,2,2,0" class="fxVBVF">
            <span class="sc-dlfnbm jysSEH">© Twinci, Inc. All rights reserved.</span>
          </div>
          <ul order="1,1,1,0" class="giXNzI">
            <li class="dfDVRO">
              <a class="sc-bdfBwQ sc-dQppl epvkSs dA-dJEs"><span
                  class="sc-dlfnbm hcWNfb">Terms</span></a>
            </li>
            <li class="dfDVRO">
              <a class="sc-bdfBwQ sc-dQppl epvkSs dA-dJEs"><span class="sc-dlfnbm hcWNfb">Privacy
                  Policy</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>